*{
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  
  .Header{
    background-color: #4d0353;
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    color:rgb(255, 255, 255);
  }
  
  .Box {
    background-color: #4d0353;
    color:white;
    padding: 5px;
    text-align: center;
  }
  
  .Navbar {
    
      border-style: rgb(255, 0, 170);
      overflow: hidden;
      background-color: #3310f7;
      text-align: center;
      height: 50px;
      
  }
  
  .Navbar a{
      float: left;
      display: block;
      color: #2f00ff;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  .Navbar a:hover {
      background-color: rgb(0, 38, 255);
      color:rgba(131, 0, 148, 0.822);
      height: 50px;
  }
  
  .Column {
    float: left;
    padding:10px;
    width:100%;
    border-style: groove;
    background-color: #a903caa4; 
    text-align: center;
  }
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
    border-style: groove;
  }
  
  .Column2 {
    float: left;
    background-color: #e100ffd2;
    color: black; 
    width:50%; 
  }
  
  @media screen and (max-width: 600px) {
    .Column {
      width: 100%;
      text-align: top left ;
    }
  
    .Column2 {
      width: 100%;
      text-align: top left;
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(143, 5, 170, 0.966);
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #85018a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #ff00c8e1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
.DominoesColumn1 {
  float: left;
  color: rgb(255, 255, 255);
  background-color: rgb(3, 63, 100);
  padding: 5px;
  width: 100%;
  border-style: groove;
  text-align: center;
}

.DominoesColumn2 {
  float: left;
  color: rgb(255, 255, 255);
  background-color: rgb(5, 95, 151);
  padding: 5px;
  width: 50%;
  height: 50%;
  border-style: groove;
  text-align: left;
}

.DominoesColumn3 {
  float: left;
  color: black;
  background-color:rgb(6, 150, 240);
  padding: 5px;
  width: 100%;
  height: 60%;
  text-align: center;
}

.DominoesRow1:after {
  content: "";
  display: table;
  clear: both;
}

.SubwayColumn1 {
  float: left;
  color: black;
  background-color: rgb(12, 102, 0);
  padding: 5px;
  width: 100%;
  border-style: groove;
  text-align: center;
}

.SubwayColumn2 {
  float: left;
  color: black;
  background-color: rgb(12, 156, 7);
  padding: 5px;
  width: 50%;
  height: 50%;
  border-style: groove;
  text-align: left;
}

.SubwayColumn3 {
  float: left;
  color: black;
  background-color:rgb(9, 255, 0);
  padding: 5px;
  width: 100%;
  height: 60%;
  text-align: center;
}

.SubwayRow1:after {
  content: "";
  display: table;
  clear: both;
}

.MaccysColumn1 {
  float: left;
  color: rgb(0, 0, 0);
  background-color: rgb(238, 144, 2);
  padding: 5px;
  width: 100%;
  border-style: groove;
  text-align: center;
}

.MaccysColumn2 {
  float: left;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 187, 0);
  padding: 5px;
  width: 50%;
  height: 50%;
  border-style: groove;
  text-align: left;
}

.MaccysColumn3 {
  float: left;
  color: black;
  background-color:rgb(251, 255, 0);
  padding: 5px;
  width: 100%;
  height: 70%;
  text-align: center;
}

.MaccysRow1:after {
  content: "";
  display: table;
  clear: both;
}

.KFCColumn1 {
  float: left;
  color: rgb(255, 255, 255);
  background-color: rgb(110, 0, 0);
  padding: 5px;
  width: 100%;
  border-style: groove;
  text-align: center;
}

.KFCColumn2 {
  float: left;
  color: black;
  background-color: rgb(199, 5, 5);
  padding: 5px;
  width: 50%;
  height: 50%;
  border-style: groove;
  text-align: left;
}

.KFCColumn3 {
  float: left;
  color: black;
  background-color:rgb(248, 47, 47);
  padding: 5px;
  width: 100%;
  height: 70%;
  text-align: center;
}

.KFCRow1:after {
  content: "";
  display: table;
  clear: both;
}